.header {
    max-width: 275px;
    width: 100%;
    border-right: 1px solid $borderColor;
    
    &__flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 18rem;

    &__logo i {
        font-size: 3rem;
        color: $twitterColor;
        padding: 1.8rem;
    }

    &__links {
        margin-top: 1rem;

        & li {
            padding: 1.5rem;
            font-size: 1.8rem;
            cursor: pointer;

            & i {
                margin-right: 2rem;
            }
        }

        & .activo {
            color: $twitterColor;
        }
    }
}

.twittear {
    background-color: $twitterColor;
    color: $blanco;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 65%;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .3s;

    &:hover {
        background-color: $twitterColorHover;
    }
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;

    &__data {
        display: flex;

        &__imagen img {
            border-radius: 50%;
            height: 4.5rem;
            width: 4.5rem;
            margin-right: 1rem;
        }

        &__usuario {
            margin-top: 5px;

            & span {
                font-weight: bold;
                font-size: 1.2rem;
            }

            & p {
                font-size: 1.1rem;
            }
        }
    }

    & i {
        margin-right: 2rem;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.main {
    max-width: 600px;
    width: 100%;
    height: 100vh;
    border-right: 1px solid $borderColor;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $borderColor;

    & p {
        font-size: 2.3rem;
        font-weight: bold;
    }

    & svg {
        width: 2.3rem;
        height: 2.3rem;
    }
}

.tweet {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid $borderColor;
    height: 15rem;

    & img {
        border-radius: 50%;
        height: 5rem;
        width: 5.5rem;
    }

    .tweet__formulario{
        width: 100%;

        & textarea {
            width: 100%;
            height: 58px;
            border: none;
            outline: none;
            font-size: 1.8rem;
            font-family: $fuente;
            resize: none;
        }

        &__btnSeccion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $borderColor;

            &__btns svg {
                color: $twitterColor;
                font-size: 2rem;
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }
}

.clon {
    width: 100%;
}

.lista-tweets {
    display: flex;
    flex-direction: column;
}

.tweets {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-bottom: 1px solid $borderColor;

    &__contenido {
        display: flex;
        gap: 1rem;

        &__imagen img {
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
        }

        &__data p {
            font-size: 1.5rem;
        }

        &__data__usuario {
            display: flex;

            & p:first-of-type {
                font-weight: bold;
                font-size: 1.2rem;
            }

            & p:last-of-type {
                font-size: 1.2rem;
                margin-left: 5px;
                color: rgb(163, 163, 163);
            }
        }
    }

    &__botones {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        &__boton {
            display: flex;
            align-items: center;
            cursor: pointer;

            & p {
                font-size: 1.2rem;
            }
        }
    }
}

.tweetIcon-respuesta,
.tweetIcon-retweet,
.tweetIcon-favorito,
.tweetIcon-compartir {
    font-size: 2rem;
    margin-right: 3px;
}

.tweetIcon-respuesta,
.tweetIcon-compartir {
    color: rgb(163, 163, 163);
}

.tweetIcon-retweet {
    color: rgb(6, 172, 0);
}

.tweetIcon-favorito {
    color: rgb(255, 0, 0);
}

