html {
    font-size: 62.5%;
    line-height: 1.5;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: $fuente;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.btnTweetDisabled {
    opacity: .5;
    cursor: not-allowed !important;
}