$borderColor: rgb(214, 214, 214);
$twitterColor: rgb(29, 155, 240);
$twitterColorHover: rgb(30, 139, 212);
$blanco: #fff;
$fuente: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;