html {
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

.btnTweetDisabled {
  opacity: .5;
  cursor: not-allowed !important; }

.header {
  max-width: 275px;
  width: 100%; }
  @media screen and (max-width: 625px) {
    .header {
      display: none; } }
  .header__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    position: fixed; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 18rem; }
  .menu__logo i {
    font-size: 3rem;
    color: #1d9bf0;
    padding: 1.8rem; }
  .menu__links {
    margin-top: 1rem; }
    .menu__links li {
      padding: 1.5rem;
      font-size: 1.8rem;
      cursor: pointer; }
      .menu__links li i {
        margin-right: 2rem; }
    .menu__links .activo {
      color: #1d9bf0; }

.twittear {
  background-color: #1d9bf0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 65%;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: .3s; }
  .twittear:hover {
    background-color: #1e8bd4; }

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem; }
  .perfil__data {
    display: flex; }
    .perfil__data__imagen img {
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      margin-right: 1rem; }
    .perfil__data__usuario {
      margin-top: 5px; }
      .perfil__data__usuario span {
        font-weight: bold;
        font-size: 1.2rem; }
      .perfil__data__usuario p {
        font-size: 1.1rem; }
  .perfil i {
    margin-left: 7rem;
    font-size: 1.8rem;
    cursor: pointer; }

.main {
  max-width: 600px;
  width: 100%;
  height: 100vh; }
  @media screen and (max-width: 625px) {
    .main {
      max-width: 100%;
      width: 100%; } }

.inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6; }
  .inicio p {
    font-size: 2.3rem;
    font-weight: bold; }
  .inicio svg {
    width: 2.3rem;
    height: 2.3rem; }

.tweet {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  height: 15rem; }
  .tweet img {
    border-radius: 50%;
    height: 5rem;
    width: 5.5rem; }
  .tweet .tweet__formulario {
    width: 100%; }
    .tweet .tweet__formulario textarea {
      width: 100%;
      height: 58px;
      border: none;
      outline: none;
      font-size: 1.8rem;
      font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      resize: none; }
    .tweet .tweet__formulario__btnSeccion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #d6d6d6; }
      .tweet .tweet__formulario__btnSeccion__btns svg {
        color: #1d9bf0;
        font-size: 2rem;
        margin-right: 15px;
        cursor: pointer; }

.clon {
  width: 100%; }

.lista-tweets {
  display: flex;
  flex-direction: column; }

.tweets {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-bottom: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6; }
  .tweets__contenido {
    display: flex;
    gap: 1rem; }
    .tweets__contenido__imagen img {
      border-radius: 50%;
      height: 5rem;
      width: 5rem; }
    .tweets__contenido__data p {
      font-size: 1.5rem; }
    .tweets__contenido__data__usuario {
      display: flex; }
      .tweets__contenido__data__usuario p:first-of-type {
        font-weight: bold;
        font-size: 1.2rem; }
      .tweets__contenido__data__usuario p:last-of-type {
        font-size: 1.2rem;
        margin-left: 5px;
        color: #a3a3a3; }
  .tweets__botones {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; }
    .tweets__botones__boton {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .tweets__botones__boton p {
        font-size: 1.2rem; }

.tweetIcon-respuesta,
.tweetIcon-retweet,
.tweetIcon-favorito,
.tweetIcon-compartir {
  font-size: 2rem;
  margin-right: 3px; }

.tweetIcon-respuesta,
.tweetIcon-compartir {
  color: #a3a3a3; }

.tweetIcon-retweet {
  color: #06ac00; }

.tweetIcon-favorito {
  color: red; }

.navTel {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  background-color: #fff; }
  .navTel__icons {
    display: none;
    border-top: 1px solid #d6d6d6; }
    @media screen and (max-width: 625px) {
      .navTel__icons {
        display: flex;
        justify-content: space-around; } }
    .navTel__icons li {
      font-size: 2rem;
      cursor: pointer;
      transition: .3s; }
      .navTel__icons li:first-of-type {
        color: #1d9bf0; }
      .navTel__icons li:hover {
        border-bottom: 3px solid #1d9bf0; }
